.offer_container{
    position: fixed;
    top: 0;
    height:100vh;
    width:100vw;
    background: url('./image/offer_background.jpeg');
    z-index: 1;
}
  
  .container {
    /* border: 3px solid yellow; */
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
    margin-top:15%;
  }
  
  .canvas {
    position: absolute;
    top: 0;
  }
  
  .form {
    padding: 20px;
    text-align: center;
    background: #330533e0;
    color: #ffffff;
    border-radius: 20px;
  }

  .reward{
    background: url(./image/reward.png);
    height: 100px;
    background-size: contain;
    width: 100px;
    margin: 0 auto;
  }

  #closeCard, #closeBoard{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 10px;
    z-index:2;
    color:#000000;
  }

  .offers{
    display: flex;
    margin-top: 1em;
    background: #ffffff;
    box-shadow: 0 1px #f0f0f0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 1em;
    align-items: center;
  }

  .offers > .icon{
    background: url(./image/discount.png);
    width: 50px;
    display: inline-block;
    height: 35px;
    background-size: contain;
    margin-right:15px;
  }

  .offer_details{
  
  }

  .offer_details > span{
    display: block;
  }

  .offer_details > span:first-child{
    font-weight: 600;
    color: #d84e55;
    font-size:0.875em;
    margin-bottom: 8px;
  }

  .offer_details > span:last-child{
    color:#555;
    font-size: 0.75em;
  }