body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #f59685;
    background-image: url(./images/asfalt-dark.png);
}



#openNav{
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #container{
        position: relative;
        height: 83vh;
        width: 93%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2px;
        background-color: rgb(98, 99, 98);/* linear-gradient(rgb(100, 98, 98), rgb(190, 194, 190)); */
        overflow: hidden;
        background-image: url(./images/asfalt-dark.png);
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #container{
        position: relative;
        height: 83vh;
        width: 25%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        background-color: rgb(98, 99, 98);/* linear-gradient(rgb(75, 74, 74), rgb(213, 218, 213)); */
        overflow: hidden;
        background-image: url(./images/asfalt-dark.png);
    }
}

.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: #FFF;
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
}
#car{
    bottom: 8%;
    left: 60%;
    height: 100px;
    background-color: #d84f57;
}

#car .f_light_l,#car .f_light_r{
    height: 3%;
    top: -3%;
    animation: blinking 1s infinite;
}

#car_1 .f_light_l,#car_1 .f_light_r{
    animation: blinkingCarLight 1s infinite;
}

@keyframes blinking {
    0%{
      background-color: #f38a77;
    }
    50%{
      background-color: #FFF;
    }
    100%{
      background-color: #faf621;
    }
  }

  @keyframes blinkingCarLight {
    0%{
      background-color: rgb(245, 79, 79);
    }
    50%{
      background-color: rgb(10, 10, 10);
    }
    100%{
      background-color: #d8fd31;
    }
  }

.redBusTxt {
    color: #FFF;
    position: absolute;
    font-size: .5em;
    background: none;
    left: 13%;
    top: 45%;
}
.f_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}
.b_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #484848;
}
.f_light_l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.f_light_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.f_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.f_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car_1{
    top: -100px;
    left: 60%;
    background-color: #52c8f3;
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #236d01;
}
#car_3{
    top: -350px;
    left: 20%;
    background-color: #f4f74b;
}

#car_4{
    top: -450px;
    left: 80%;
    background-color: #fa1909;
}

#car_4 .f_light_l,#car_4 .f_light_r{
    animation: blinkingCarLight4 .5s infinite;
}

#car_4 .f_glass,#car_4 .b_glass{
    background-color: #080000;
}

@keyframes blinkingCarLight4 {
    0%{
      background-color: #fbff1e;
    }
    100%{
      background-color: #fffefe;
    }
  }

#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #8a64ff;
    font-size: 30px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}


#score_div {
    margin-top: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    width: 40%;
    height: 7vh;
    background-color: white;
    color: #454545;
    padding: 5px;
    box-shadow: 0px 0px 5px 2px #808080;
}

#help{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
}

.redBusTxtPolice{
    position: relative;
    animation: blinkingText .5s infinite;
    font-size: .6em;
    top: 40%;
    text-align: center;
}
@keyframes blinkingText{
    0%{     color: #FFF;    }
    100%{   color: rgb(48, 26, 250);    }
}

.game_controls_button{
    width: 90%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-around;
    min-width: 100px;
    align-items: center;
}

.arrow{
    height: 30px;
    width: 30px;
    text-align: center;
}

.top_arrow_btn {
    background: url('./svg/upArrow.svg');
}

.right_arrow_btn {
    background: url('./svg/rightArrow.svg');

}

.bottom_arrow_btn {
    background: url('./svg/downArrow.svg');

}

.left_arrow_btn {
    background: url('./svg/leftArrow.svg');

}